/* ===== vencord-simplicity-properties.css ===== */

/* ==== Message Input Properties ==== */

/* App Launcher */
@property --hide-app-launcher {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Nitro Gift */
@property --hide-nitro-gift {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Gif Picker */
@property --hide-gif {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Sticker Picker */
@property --hide-sticker {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Emoji Picker */
@property --hide-emoji {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}


/* ==== DM List Properties ==== */

/* Nitro Home */
@property --hide-nitro-home {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Shop */
@property --hide-shop {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Quests */
@property --hide-quests {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}


/* ==== Channel Toolbar Properties ==== */

/* Profile */
@property --hide-profile {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Start Video Call */
@property --hide-video-call {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Help */
@property --hide-help {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* AKA/Alias */
@property --hide-aka {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Checkpoint */
@property --hide-checkpoint {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}


/* ====  Message Context Menu Properties ==== */

/* Apps Sub-Menu */
@property --hide-apps-menu {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Text-To-Speech */
@property --hide-tts {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Pre-shown Quick Reactions */
@property --hide-quick-reactions {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Report */
@property --hide-report {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}


/* ==== Misc ==== */

/* Ring to Voice */
@property --hide-ring-to-voice {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

/* Message Toolbar */
@property --hide-message-toolbar {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

/* ===== vencord-simplicity.css ===== */



/* ==== Message Input ==== */

@container root style(--hide-app-launcher: on) {

    /* App Launcher */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Apps"]) {
        display: none;
    }
}

@container root style(--hide-nitro-gift: on) {

    /* Nitro Gift */
    div[class*="-buttons"]>div[class*="-container"]:has(div[aria-label="Send a gift"]) {
        display: none;
    }
}

@container root style(--hide-gif: on) {

    /* GIF Picker */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Open GIF picker"]) {
        display: none;
    }
}

@container root style(--hide-sticker: on) {

    /* Sticker Picker */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Open sticker picker"]) {
        display: none;
    }
}

@container root style(--hide-emoji: on) {

    /* Emoji Picker */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Add Emoji"]) {
        display: none;
    }
}

/* ==== DM List ==== */

@container root style(--hide-nitro-home: on) {

    /* Nitro Home */
    ul[aria-label="Direct Messages"]>div:has(> li > div > a[href="/store"]) {
        display: none;
    }
}

@container root style(--hide-shop: on) {

    /* Shop */
    ul[aria-label="Direct Messages"]>li:has(> div > a[href="/shop"]) {
        display: none;
    }
}

@container root style(--hide-quests: on) {

    /* Quests */
    ul[aria-label="Direct Messages"]>div:has(> li > div > a[href="/quest-home"]) {
        display: none;
    }
}


/* ==== Channel Toolbar ==== */

@container root style(--hide-profile: on) {

    /* Profile */
    div[aria-label="Show User Profile"] {
        display: none;
    }


    div[aria-label="Show User Profile (Unavailable)"] {
        display: none;
    }
}

@container root style(--hide-video-call: on) {

    /* Start Video Call */
    div[aria-label="Start Video Call"] {
        display: none;
    }
}

@container root style(--hide-help: on) {

    /* Help */
    div[aria-label="Help"] {
        display: none;
    }
}

@container root style(--hide-aka: on) {

    /* AKA/Alias */
    svg[class*="-divider"] {
        display: none;
    }

    div[class*="-akaBadge"] {
        display: none;
    }

    div[class*="-nicknames"] {
        display: none;
    }
}

@container root style(--hide-checkpoint: on) {

    /* Checkpoint */
    div[aria-label="Checkpoint"] {
        display: none;
    }

    /* Fix padding */
    div[class*="toolbar"]:has(div[class*="iconWrapper"]) {
        padding-right: 150px !important;
    }
}

/* ====  Message Context Menu ==== */

@container root style(--hide-apps-menu: on) {

    /* Apps Sub-Menu */
    #message-apps {
        display: none;
    }
}

@container root style(--hide-tts: on) {

    /* Text-To-Speech */
    #message-tts {
        display: none;
    }
}

@container root style(--hide-quick-reactions: on) {

    /* Pre-shown Quick Reactions */
    div[class*="scroller"]>div[class*="wrapper"][role="group"] {
        display: none;
    }
}

@container root style(--hide-report: on) {

    /* Report */
    div[class*="scroller"]>div[role="group"]>div[class*="item"][id="message-report"] {
        display: none;
        ;
    }

    /* Separator */
    div[class*="scroller"]>div[role="separator"]:has(+ div[role="group"] > div[id="message-report"]) {
        display: none;
    }
}


/* ==== Misc ==== */

@container root style(--hide-ring-to-voice: on) {

    /* Ring to Voice */
    div[class*="chatHeaderBar_"]:has(div[class*="chatHeaderBarInfo_"]) {
        display: none;
        background-color: blue;
    }
}

@container root style(--hide-message-toolbar: on) {

    /* Message Toolbar */
    div[class*="buttonContainer"]:has(div[aria-label="Message Actions"]) {
        display: none;
    }
}