@import url("./vencord-simplicity-properties.css");


/* ==== Message Input ==== */

@container body style(--hide-app-launcher: on) {

    /* App Launcher */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Apps"]) {
        display: none;
    }
}

@container body style(--hide-nitro-gift: on) {

    /* Nitro Gift */
    div[class*="-buttons"]>div[class*="-container"]:has(div[aria-label="Send a gift"]) {
        display: none;
    }
}

@container body style(--hide-gif: on) {

    /* GIF Picker */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Open GIF picker"]) {
        display: none;
    }
}

@container body style(--hide-sticker: on) {

    /* Sticker Picker */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Open sticker picker"]) {
        display: none;
    }
}

@container body style(--hide-emoji: on) {

    /* Emoji Picker */
    div[class*="-buttons"]>div[class*="-buttonContainer"]:has(div[aria-label="Add Emoji"]) {
        display: none;
    }
}

/* ==== DM List ==== */

@container body style(--hide-nitro-home: on) {

    /* Nitro Home */
    ul[aria-label="Direct Messages"]>div:has(> li > div > a[href="/store"]) {
        display: none;
    }
}

@container body style(--hide-shop: on) {

    /* Shop */
    ul[aria-label="Direct Messages"]>li:has(> div > a[href="/shop"]) {
        display: none;
    }
}

@container body style(--hide-quests: on) {

    /* Quests */
    ul[aria-label="Direct Messages"]>div:has(> li > div > a[href="/quest-home"]) {
        display: none;
    }
}


/* ==== Channel Toolbar ==== */

@container body style(--hide-profile: on) {

    /* Profile */
    div[aria-label="Show User Profile"] {
        display: none;
    }


    div[aria-label="Show User Profile (Unavailable)"] {
        display: none;
    }
}

@container body style(--hide-video-call: on) {

    /* Start Video Call */
    div[aria-label="Start Video Call"] {
        display: none;
    }
}

@container body style(--hide-help: on) {

    /* Help */
    div[aria-label="Help"] {
        display: none;
    }
}

@container body style(--hide-aka: on) {

    /* AKA/Alias */
    svg[class*="-divider"] {
        display: none;
    }

    div[class*="-akaBadge"] {
        display: none;
    }

    div[class*="-nicknames"] {
        display: none;
    }
}

@container body style(--hide-checkpoint: on) {

    /* Checkpoint */
    div[aria-label="Checkpoint"] {
        display: none;
    }

    /* Fix padding */
    div[class*="toolbar"]:has(div[class*="iconWrapper"]) {
        padding-right: 150px !important;
    }
}

/* ====  Message Context Menu ==== */

@container body style(--hide-apps-menu: on) {

    /* Apps Sub-Menu */
    #message-apps {
        display: none;
    }
}

@container body style(--hide-tts: on) {

    /* Text-To-Speech */
    #message-tts {
        display: none;
    }
}

@container body style(--hide-quick-reactions: on) {

    /* Pre-shown Quick Reactions */
    div[class*="scroller"]>div[class*="wrapper"][role="group"] {
        display: none;
    }
}

@container body style(--hide-report: on) {

    /* Report */
    div[class*="scroller"]>div[role="group"]>div[class*="item"][id="message-report"] {
        display: none;
        ;
    }

    /* Separator */
    div[class*="scroller"]>div[role="separator"]:has(+ div[role="group"] > div[id="message-report"]) {
        display: none;
    }
}


/* ==== Misc ==== */

@container body style(--hide-ring-to-voice: on) {

    /* Ring to Voice */
    div[class*="chatHeaderBar_"]:has(div[class*="chatHeaderBarInfo_"]) {
        display: none;
        background-color: blue;
    }
}

@container body style(--hide-message-toolbar: on) {

    /* Message Toolbar */
    div[class*="buttonContainer"]:has(div[aria-label="Message Actions"]) {
        display: none;
    }
}